---
apiVersion: admissionregistration.k8s.io/v1
kind: MutatingWebhookConfiguration
metadata:
  name: mutating-webhook-configuration
webhooks:
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /mutate-litellm-litellm-ai-v1alpha1-litellminstance
  failurePolicy: Fail
  name: mlitellminstance-v1alpha1.kb.io
  rules:
  - apiGroups:
    - litellm.litellm.ai
    apiVersions:
    - v1alpha1
    operations:
    - CREATE
    - UPDATE
    resources:
    - litellminstances
  sideEffects: None
---
apiVersion: admissionregistration.k8s.io/v1
kind: ValidatingWebhookConfiguration
metadata:
  name: validating-webhook-configuration
webhooks:
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /validate-litellm-litellm-ai-v1alpha1-litellminstance
  failurePolicy: Fail
  name: vlitellminstance-v1alpha1.kb.io
  rules:
  - apiGroups:
    - litellm.litellm.ai
    apiVersions:
    - v1alpha1
    operations:
    - CREATE
    - UPDATE
    resources:
    - litellminstances
  sideEffects: None
