---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - apps
  resources:
  - deployments
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - auth.litellm.ai
  resources:
  - teammemberassociations
  - teams
  - users
  - virtualkeys
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - auth.litellm.ai
  resources:
  - teammemberassociations/finalizers
  - teams/finalizers
  - users/finalizers
  - virtualkeys/finalizers
  verbs:
  - update
- apiGroups:
  - auth.litellm.ai
  resources:
  - teammemberassociations/status
  - teams/status
  - users/status
  - virtualkeys/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - ""
  resources:
  - configmaps
  - secrets
  - services
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - litellm.litellm.ai
  resources:
  - litellminstances
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - litellm.litellm.ai
  resources:
  - litellminstances/finalizers
  verbs:
  - update
- apiGroups:
  - litellm.litellm.ai
  resources:
  - litellminstances/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - networking.k8s.io
  resources:
  - ingresses
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
