apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "litellm-operator.fullname" . }}-manager-role
  labels:
  {{- include "litellm-operator.labels" . | nindent 4 }}
rules:
- apiGroups:
  - ""
  resources:
  - secrets
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - apps
  resources:
  - deployments
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - auth.litellm.ai
  resources:
  - teammemberassociations
  - teams
  - users
  - virtualkeys
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - auth.litellm.ai
  resources:
  - teammemberassociations/finalizers
  - teams/finalizers
  - users/finalizers
  - virtualkeys/finalizers
  verbs:
  - update
- apiGroups:
  - auth.litellm.ai
  resources:
  - teammemberassociations/status
  - teams/status
  - users/status
  - virtualkeys/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - ""
  resources:
  - configmaps
  - secrets
  - serviceaccounts
  - services
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - litellm.litellm.ai
  resources:
  - litellminstances
  - models
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - litellm.litellm.ai
  resources:
  - litellminstances/finalizers
  - models/finalizers
  verbs:
  - update
- apiGroups:
  - litellm.litellm.ai
  resources:
  - litellminstances/status
  - models/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - networking.k8s.io
  resources:
  - ingresses
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - rbac.authorization.k8s.io
  resources:
  - rolebindings
  - roles
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: {{ include "litellm-operator.fullname" . }}-manager-rolebinding
  labels:
  {{- include "litellm-operator.labels" . | nindent 4 }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: '{{ include "litellm-operator.fullname" . }}-manager-role'
subjects:
- kind: ServiceAccount
  name: '{{ include "litellm-operator.fullname" . }}-controller-manager'
  namespace: '{{ .Release.Namespace }}'
