---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.16.1
  name: users.auth.litellm.ai
spec:
  group: auth.litellm.ai
  names:
    kind: User
    listKind: UserList
    plural: users
    singular: user
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - description: The ready status of the user
      jsonPath: .status.conditions[?(@.type=='Ready')].status
      name: Ready
      type: string
    - description: The user's email address
      jsonPath: .spec.userEmail
      name: Email
      type: string
    - description: The user's role
      jsonPath: .spec.userRole
      name: Role
      type: string
    - description: Whether the user is blocked
      jsonPath: .spec.blocked
      name: Blocked
      type: boolean
    - description: Maximum budget for the user
      jsonPath: .spec.maxBudget
      name: Budget
      type: string
    - description: Current user spend
      jsonPath: .status.spend
      name: Spend
      type: string
    - description: Time since creation
      jsonPath: .metadata.creationTimestamp
      name: Age
      type: date
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: User is the Schema for the users API
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: UserSpec defines the desired state of User
            properties:
              aliases:
                additionalProperties:
                  type: string
                description: Aliases is the model aliases for the user
                type: object
              allowedCacheControls:
                description: AllowedCacheControls is the list of allowed cache control
                  values
                items:
                  type: string
                type: array
              autoCreateKey:
                description: AutoCreateKey is whether to automatically create a key
                  for the user
                type: boolean
              blocked:
                description: Blocked is whether the user is blocked
                type: boolean
              budgetDuration:
                description: BudgetDuration - Budget is reset at the end of specified
                  duration. If not set, budget is never reset. You can set duration
                  as seconds ("30s"), minutes ("30m"), hours ("30h"), days ("30d"),
                  months ("1mo").
                type: string
              connectionRef:
                description: ConnectionRef defines how to connect to the LiteLLM instance
                properties:
                  instanceRef:
                    description: InstanceRef references a LiteLLM instance
                    properties:
                      name:
                        description: Name is the name of the LiteLLM instance
                        type: string
                      namespace:
                        description: Namespace is the namespace of the LiteLLM instance
                          (defaults to the same namespace as the Team)
                        type: string
                    required:
                    - name
                    type: object
                  secretRef:
                    description: SecretRef references a secret containing connection
                      details
                    properties:
                      keys:
                        description: Keys defines the keys in the secret that contain
                          connection details
                        properties:
                          masterKey:
                            description: MasterKey is the key in the secret containing
                              the master key
                            type: string
                          url:
                            description: URL is the key in the secret containing the
                              LiteLLM URL
                            type: string
                        required:
                        - masterKey
                        - url
                        type: object
                      name:
                        description: Name is the name of the secret
                        type: string
                    required:
                    - keys
                    - name
                    type: object
                type: object
              duration:
                description: Duration is the duration for the key auto-created on
                  /user/new
                type: string
              guardrails:
                description: Guardrails is the list of active guardrails for the user
                items:
                  type: string
                type: array
              keyAlias:
                description: KeyAlias is the optional alias of the key if autoCreateKey
                  is true
                type: string
              maxBudget:
                description: MaxBudget is the maximum budget for the user
                type: string
              maxParallelRequests:
                description: MaxParallelRequests is the maximum number of parallel
                  requests for the user
                type: integer
              metadata:
                additionalProperties:
                  type: string
                description: Metadata is the metadata of the user
                type: object
              modelMaxBudget:
                additionalProperties:
                  type: string
                description: ModelMaxBudget is the model specific maximum budget
                type: object
              modelRPMLimit:
                additionalProperties:
                  type: string
                description: ModelRPMLimit is the model specific maximum requests
                  per minute
                type: object
              modelTPMLimit:
                additionalProperties:
                  type: string
                description: ModelTPMLimit is the model specific maximum tokens per
                  minute
                type: object
              models:
                description: Models is the list of models that the user is allowed
                  to use
                items:
                  type: string
                type: array
              permissions:
                additionalProperties:
                  type: string
                description: Permissions is the user-specific permissions
                type: object
              rpmLimit:
                description: RPMLimit is the maximum requests per minute for the user
                type: integer
              sendInviteEmail:
                description: 'SendInviteEmail is whether to send an invite email to
                  the user - NOTE: the user endpoint will return an error if email
                  alerting is not configured and this is enabled, but the user will
                  still be created.'
                type: boolean
              softBudget:
                description: SoftBudget - alert when user exceeds this budget, doesn't
                  block requests
                type: string
              spend:
                description: Spend is the amount spent by user
                type: string
              ssoUserID:
                description: SSOUserID is the id of the user in the SSO provider
                type: string
              teams:
                description: Teams is the list of teams that the user is a member
                  of
                items:
                  type: string
                type: array
              tpmLimit:
                description: TPMLimit is the maximum tokens per minute for the user
                type: integer
              userAlias:
                description: UserAlias is the alias of the user
                type: string
              userEmail:
                description: UserEmail is the email of the user
                type: string
                x-kubernetes-validations:
                - message: UserEmail is immutable
                  rule: self == oldSelf
              userID:
                description: UserID is the ID of the user. If not set, a unique ID
                  will be generated.
                type: string
              userRole:
                description: UserRole is the role of the user - one of "proxy_admin",
                  "proxy_admin_viewer", "internal_user", "internal_user_viewer"
                enum:
                - proxy_admin
                - proxy_admin_viewer
                - internal_user
                - internal_user_viewer
                type: string
            required:
            - connectionRef
            - userEmail
            type: object
          status:
            description: UserStatus defines the observed state of User
            properties:
              aliases:
                additionalProperties:
                  type: string
                description: Aliases is the model aliases for the user
                type: object
              allowedCacheControls:
                description: AllowedCacheControls is the list of allowed cache control
                  values
                items:
                  type: string
                type: array
              allowedRoutes:
                description: AllowedRoutes is the list of allowed routes
                items:
                  type: string
                type: array
              blocked:
                description: Blocked is whether the user is blocked
                type: boolean
              budgetDuration:
                description: BudgetDuration - Budget is reset at the end of specified
                  duration
                type: string
              budgetID:
                description: BudgetID is the ID of the budget
                type: string
              conditions:
                items:
                  description: Condition contains details for one aspect of the current
                    state of this API Resource.
                  properties:
                    lastTransitionTime:
                      description: |-
                        lastTransitionTime is the last time the condition transitioned from one status to another.
                        This should be when the underlying condition changed.  If that is not known, then using the time when the API field changed is acceptable.
                      format: date-time
                      type: string
                    message:
                      description: |-
                        message is a human readable message indicating details about the transition.
                        This may be an empty string.
                      maxLength: 32768
                      type: string
                    observedGeneration:
                      description: |-
                        observedGeneration represents the .metadata.generation that the condition was set based upon.
                        For instance, if .metadata.generation is currently 12, but the .status.conditions[x].observedGeneration is 9, the condition is out of date
                        with respect to the current state of the instance.
                      format: int64
                      minimum: 0
                      type: integer
                    reason:
                      description: |-
                        reason contains a programmatic identifier indicating the reason for the condition's last transition.
                        Producers of specific condition types may define expected values and meanings for this field,
                        and whether the values are considered a guaranteed API.
                        The value should be a CamelCase string.
                        This field may not be empty.
                      maxLength: 1024
                      minLength: 1
                      pattern: ^[A-Za-z]([A-Za-z0-9_,:]*[A-Za-z0-9_])?$
                      type: string
                    status:
                      description: status of the condition, one of True, False, Unknown.
                      enum:
                      - "True"
                      - "False"
                      - Unknown
                      type: string
                    type:
                      description: type of condition in CamelCase or in foo.example.com/CamelCase.
                      maxLength: 316
                      pattern: ^([a-z0-9]([-a-z0-9]*[a-z0-9])?(\.[a-z0-9]([-a-z0-9]*[a-z0-9])?)*/)?(([A-Za-z0-9][-A-Za-z0-9_.]*)?[A-Za-z0-9])$
                      type: string
                  required:
                  - lastTransitionTime
                  - message
                  - reason
                  - status
                  - type
                  type: object
                type: array
              config:
                additionalProperties:
                  type: string
                description: Config is the user-specific config
                type: object
              createdAt:
                description: CreatedAt is the date and time when the user was created
                type: string
              createdBy:
                description: CreatedBy is the user who created this user
                type: string
              duration:
                description: Duration is the duration for the key
                type: string
              enforcedParams:
                description: EnforcedParams is the list of enforced parameters
                items:
                  type: string
                type: array
              expires:
                description: Expires is the date and time when the user will expire
                type: string
              guardrails:
                description: Guardrails is the list of active guardrails
                items:
                  type: string
                type: array
              keyAlias:
                description: KeyAlias is the alias of the key
                type: string
              keyName:
                description: KeyName is the name of the key
                type: string
              keySecretRef:
                description: KeySecretRef is the reference to the secret containing
                  the user key
                type: string
              litellmBudgetTable:
                description: LiteLLMBudgetTable is the budget table name
                type: string
              maxBudget:
                description: MaxBudget is the maximum budget for the user
                type: string
              maxParallelRequests:
                description: MaxParallelRequests is the maximum number of parallel
                  requests
                type: integer
              modelMaxBudget:
                additionalProperties:
                  type: string
                description: ModelMaxBudget is the model specific maximum budget
                type: object
              modelRPMLimit:
                additionalProperties:
                  type: string
                description: ModelRPMLimit is the model specific maximum requests
                  per minute
                type: object
              modelTPMLimit:
                additionalProperties:
                  type: string
                description: ModelTPMLimit is the model specific maximum tokens per
                  minute
                type: object
              models:
                description: Models is the list of models that the user is allowed
                  to use
                items:
                  type: string
                type: array
              permissions:
                additionalProperties:
                  type: string
                description: Permissions is the user-specific permissions
                type: object
              rpmLimit:
                description: RPMLimit is the maximum requests per minute
                type: integer
              spend:
                description: Spend is the amount spent by user
                type: string
              tags:
                description: Tags for tracking spend and/or doing tag-based routing.
                  Requires Enterprise license
                items:
                  type: string
                type: array
              teams:
                description: Teams is the list of teams that the user is a member
                  of
                items:
                  type: string
                type: array
              token:
                description: Token is the user's token
                type: string
              tpmLimit:
                description: TPMLimit is the maximum tokens per minute
                type: integer
              updatedAt:
                description: UpdatedAt is the date and time when the user was last
                  updated
                type: string
              updatedBy:
                description: UpdatedBy is the user who last updated this user
                type: string
              userAlias:
                description: UserAlias is the alias of the user
                type: string
              userEmail:
                description: UserEmail is the email of the user
                type: string
              userID:
                description: UserID is the unique user id
                type: string
              userRole:
                description: UserRole is the role of the user
                type: string
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
